body {
  font-family: "Roboto" serif;
}

:root {
  --titles: #212121;
  --paraghraphs: #757575;
}

[href="./index.html"] {
  color: #212121;
  text-decoration: none;
}
li,
h2,
h3 {
  color: var(--titles);
}
p,
a {
  color: #757575;
}
.flex {
  display: flex;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-a {
}
.nav {
  display: flex;
}
.header-list {
  display: flex;
  list-style: none;
  margin-left: 92px;
}
.list-item:not(:last-child) {
  margin-right: 50px;
}
.list-info {
  display: flex;
  margin-left: 344px;
}
.email {
  list-style: none;
  margin-right: 50px;
}
.phone_number {
  list-style: none;
}
.main {
}
.services {
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-title-of-services {
  display: flex;
  justify-content: center;
  line-height: calc(60 / 44);
}
.main-button {
  display: block;
  margin: 0 auto;
}
.about-skills {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-title-of-skills {
}
.list-of-skills {
  display: flex;
  list-style: none;
}
.skill:not(:last-child) {
  margin-right: 30px;
}
.title-of-skill {
}
.text-of-skill {
  line-height: calc(24 / 14);
}

.about-us {
}
.about-activities {
  padding-bottom: 94px;
}
.list-of-activities {
}
.image-item {
}
.about-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
}
.list-of-collegues {
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo_footer {
}
.footer-adress {
  line-height: calc(24 / 14);
}
.footer-email {
  line-height: calc(24 / 14);
}
.footer-phone_number {
  line-height: calc(24 / 14);
}
.logo_footer {
  color: #212121;
  text-decoration: none;
}
